<html>
  <body>
    <!-- ... -->

    <h1> Création d'un évènement </h1>

    <%= form_tag url_for(action: 'create'), method: "post" do %>
   <!-- <input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %> -->
      <%= label_tag 'Date de début AAAA-MM-JJ' %>
      <%= text_field_tag 'start_date'%>
      <br /> <br />

      <%= label_tag 'Durée' %>
      <%= text_area_tag 'duration' %>
      <br /> <br />

       <%= label_tag "Titre de l'event" %>
      <%= text_field_tag 'title'%>
      <br /> <br />

       <%= label_tag 'Description' %>
      <%= text_field_tag 'description'%>
      <br /> <br />

       <%= label_tag 'Prix' %>
      <%= text_field_tag 'price'%>
      <br /> <br />

       <%= label_tag 'Localisation' %>
      <%= text_field_tag 'location'%>
      <br /> <br />

      

      

      <%= submit_tag "Créer l'évènement" %>

    <% end %>

    <!-- ... -->
  </body>
</html>